/* -------------------------- */
/* Push */
/* -------------------------- */

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@media screen 
and (min-width : 801px) {
body {
	article{
		&  > * {
			-webkit-transition-property: opacity, -webkit-transform;
			transition-property: opacity, transform;
			-webkit-transition-duration: 1s;
			transition-duration: 1s;
		}
		
		& > *:not(h1) {
			-webkit-transform: translateY(400px);
			transform: translateY(400px);
			opacity: 0;
		}

		h1 {
			-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
			transition-timing-function: cubic-bezier(0.7,0,0.3,1);
			-webkit-transition-duration: 1.2s;
			transition-duration: 1.2s;
		}

		h1 + * {
			padding-top: 105px !important;
        	margin-top: 0px;
		}
	}
	footer {
		-webkit-transition-property: opacity, -webkit-transform;
		transition-property: opacity, transform;
		-webkit-transition-duration: 1s;
		transition-duration: 1s;
		-webkit-transform: translateY(400px);
		transform: translateY(400px);
		opacity: 0;
	}
}

body.collapse {
	.trigger {
	    -webkit-transition-delay: 0s;
	    transition-delay: 0s;
	    -webkit-transform: translateY(-150%) scale(0.9);
	    transform: translateY(-150%) scale(0.9);
		opacity: 0;
   		z-index: -1;
	}
	article{
		& > *:not(h1) {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 1;
		}
		h1 {
			opacity: 0;
			-webkit-transform: translateY(-100%) scale(0.9);
			transform: translateY(-100%) scale(0.9);
		}
		*:not(h1) {
			-webkit-transition-delay: 0.98s;
			transition-delay: 0.98s;
		}

		& > *:not(h1):nth-child(8) {
			-webkit-transition-delay: 0.5s;
			transition-delay: 0.5s;
		}
		& > *:nth-child(9) {
			-webkit-transition-delay: 0.62s;
			transition-delay: 0.62s;
		}
		& > *:nth-child(10) {
			-webkit-transition-delay: 0.74s;
			transition-delay: 0.74s;
		}
		& > *:nth-child(11) {
			-webkit-transition-delay: 0.86s;
			transition-delay: 0.86s;
		}

	}

	footer {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
		-webkit-transition-delay: 0.8s;
		transition-delay: 0.8s;
	}
}

}
