/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-webkit-keyframes opacityAnimation {
  20% {
    opacity: 0; }
  50% {
    opacity: 1; }
  80% {
    opacity: 0; } }
@-moz-keyframes opacityAnimation {
  20% {
    opacity: 0; }
  50% {
    opacity: 1; }
  80% {
    opacity: 0; } }
@keyframes opacityAnimation {
  20% {
    opacity: 0; }
  50% {
    opacity: 1; }
  80% {
    opacity: 0; } }
@-webkit-keyframes iconAnimation {
  0% {
    -webkit-transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-20px); }
  90% {
    -webkit-transform: translateY(0px); } }
@-moz-keyframes iconAnimation {
  0% {
    -moz-transform: translateY(0px); }
  50% {
    -moz-transform: translateY(-20px); }
  90% {
    -moz-transform: translateY(0px); } }
@keyframes iconAnimation {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-20px); }
  90% {
    transform: translateY(0px); } }
@font-face {
  font-family: 'underline-icon';
  src: url("../fonts/underline-icon.eot?g7ggeb");
  src: url("../fonts/underline-icon.eot?#iefixg7ggeb") format("embedded-opentype"), url("../fonts/underline-icon.woff?g7ggeb") format("woff"), url("../fonts/underline-icon.ttf?g7ggeb") format("truetype"), url("../fonts/underline-icon.svg?g7ggeb#underline-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'underline-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "EB Garamond";
  font-size: 24px;
  line-height: 36px;
  color: #212121;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern=1", "liga=1", "dlig=1", "hlig=1";
  -moz-font-feature-settings: "kern" on, "liga" on, "dlig" on, "hlig" on;
  -webkit-font-feature-settings: "kern","liga","dlig","hlig";
  -ms-font-feature-settings: "kern","liga","dlig","hlig";
  font-feature-settings: "kern","liga","dlig","hlig"; }

h1 {
  font-family: "Fira Sans";
  color: #FFFFFF;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
  text-align: center; }

h2 {
  font-family: "Fira Sans";
  color: #212121;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  font-weight: 500;
  padding-bottom: 20px; }

p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  width: 960px;
  padding-bottom: 20px; }

ul {
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: -20px; }
  ul li {
    list-style: disc; }

blockquote {
  position: relative;
  font-size: 28px;
  font-style: italic;
  color: #212121;
  line-height: 40px;
  width: 800px;
  margin: 0px auto;
  padding: 20px 30px; }
  blockquote::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    bottom: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    border-left: solid 1px #212121;
    border-bottom: solid 1px #212121; }

header {
  width: 100%;
  height: 600px;
  position: relative; }
  header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../i/header-bg.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1; }
  header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(-180deg, transparent 74%, rgba(0, 0, 0, 0.36) 100%);
    background: rgba(0, 0, 0, 0.4);
    z-index: -1; }
  header .links {
    position: absolute;
    right: 70px;
    top: 20px;
    float: left; }
    header .links a {
      font-family: "EB Garamond";
      font-style: italic;
      float: left;
      font-size: 24px;
      color: #FFFFFF;
      line-height: 30px;
      padding-left: 36px;
      position: relative;
      margin-left: 20px; }
    header .links a::before {
      font-family: 'underline-icon';
      font-style: normal;
      position: absolute;
      left: 5px;
      top: -2px; }
    header .links .icon-github::before {
      content: '\e602';
      font-size: 25px; }
    header .links .icon-download::before {
      content: '\e603';
      font-size: 27px; }
    header .links .icon-coffee::before {
      content: '\e600';
      font-size: 25px; }
  header .logoWrapper {
    position: relative;
    width: 100%;
    border-top: solid 4px #CDDC39; }
    header .logoWrapper img {
      position: absolute;
      left: 70px;
      top: 20px; }
  header .fullLogo {
    font-style: italic;
    width: 593px;
    height: 152px;
    display: block;
    margin: 200px auto 0 auto;
    position: relative;
    -webkit-animation: iconAnimation 8s 0s linear infinite none;
    -moz-animation: iconAnimation 8s 0s linear infinite none;
    animation: iconAnimation 8s 0s linear infinite none; }
    header .fullLogo span {
      position: absolute;
      display: inline;
      font-size: 120px;
      line-height: 144px;
      color: white;
      top: 4px;
      left: 48px; }
    header .fullLogo::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: url(../i/grid.svg) no-repeat right bottom;
      opacity: 0.5;
      -webkit-animation: opacityAnimation 8s 0s linear infinite none;
      -moz-animation: opacityAnimation 8s 0s linear infinite none;
      animation: opacityAnimation 8s 0s linear infinite none; }
  header h1 {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding-bottom: 40px; }
    header h1::after {
      content: '';
      display: block;
      margin: 0 auto;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 40px;
      height: 40px;
      border-right: solid 1px white;
      border-bottom: solid 1px white; }

article {
  width: 960px;
  margin: 100px auto; }

footer {
  width: 100%;
  height: 360px;
  position: relative;
  margin-top: 200px; }
  footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../i/tech.jpg) no-repeat center center;
    background-size: cover;
    z-index: -1; }
  footer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(-180deg, transparent 74%, rgba(0, 0, 0, 0.36) 100%);
    background: rgba(0, 0, 0, 0.4);
    z-index: -1; }
  footer .next {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 42px;
    margin: 0 auto 24px auto; }
  footer .tweet {
    background: #FFFFFF;
    box-shadow: 0px -4px 10px 0px rgba(32, 32, 32, 0.32);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto 0 auto;
    top: -50px;
    position: relative;
    text-align: center;
    cursor: pointer; }
    footer .tweet span {
      font-family: "Fira Sans";
      font-weight: 300;
      font-size: 24px;
      color: #212121;
      line-height: 32px;
      position: absolute;
      top: -45px;
      width: 300px;
      left: -100px; }
    footer .tweet::before {
      content: '\e604';
      font-size: 54px;
      line-height: 100px;
      text-align: center; }

a {
  color: #fd471e;
  text-decoration: none;
  font-style: italic; }

.social {
  text-align: center;
  border-bottom: solid 1px #aaaaaa; }

.social a, .social iframe {
  display: inline-block;
  padding: 40px 0 30px 0; }

.tunderline {
  text-decoration: underline;
  color: #a0ad39; }

/*# sourceMappingURL=stylesheet.css.map */
