@import 'reset';
@import 'animation';
$green: #CDDC39;
$dark: #212121;
$fira: 'Fira Sans';
$ebgaramond: 'EB Garamond';

@font-face {
    font-family: 'underline-icon';
    src:url('../fonts/underline-icon.eot?g7ggeb');
    src:url('../fonts/underline-icon.eot?#iefixg7ggeb') format('embedded-opentype'),
        url('../fonts/underline-icon.woff?g7ggeb') format('woff'),
        url('../fonts/underline-icon.ttf?g7ggeb') format('truetype'),
        url('../fonts/underline-icon.svg?g7ggeb#underline-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'underline-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: $ebgaramond;
    font-size: 24px;
    line-height: 36px;
    color: $dark;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern=1", "liga=1", "dlig=1", "hlig=1";
    -moz-font-feature-settings: "kern" on, "liga" on, "dlig" on, "hlig" on;
    -webkit-font-feature-settings: "kern","liga","dlig","hlig";
    -ms-font-feature-settings: "kern","liga","dlig","hlig";
    font-feature-settings: "kern","liga","dlig","hlig";
}
h1 {
    font-family: $fira;
    color: #FFFFFF;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
}
h2 {
    font-family: $fira;
    color: $dark;
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
    padding-bottom: 20px;
}
p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 20px;
}
a {
    color: $dark;
    text-decoration: none;
}
ul {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: -20px;
    li {
        list-style: disc;
    }
}
blockquote {
    position: relative;
    font-size: 28px;
    font-style: italic;
    color: $dark;
    line-height: 40px;
    width: 960px;
    margin: 10px -100px 30px -100px;
    padding: 25px 30px;
    &::before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        bottom: 0px;
        right: 0px;
        width: 60px;
        height: 60px;
        border-right: solid 1px $dark;
        border-bottom: solid 1px $dark;
    }
    &::after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        top: 0px;
        left: 0px;
        width: 60px;
        height: 60px;
        border-left: solid 1px $dark;
        border-top: solid 1px $dark;
    }
}
header {
    width: 100%;
    height: 600px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../i/header-bg.jpg) no-repeat center center;
        background-size: cover;
        // -webkit-filter: blur(7px);
        // filter: blur(7px);
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 74%, rgba(0,0,0,0.36) 100%);
        background: rgba(0,0,0,0.40);
        z-index: -1;
    }
    .links {
        position: absolute;
        right: 70px;
        top: 20px;
        float: left;
        a {
            font-family: $ebgaramond;
            font-style: italic;
            float: left;
            font-size: 24px;
            color: #FFFFFF;
            line-height: 30px;
            padding-left: 36px;
            position: relative;
            margin-left: 20px;
            transition: all 0.8s;
        }
        a:hover {
            color: $green;
        }
        a::before {
            font-family: 'underline-icon';
            font-style: normal;
            position: absolute;
            left: 5px;
            top: -2px;
        }
        .icon-github::before {
            content: '\e602';
            font-size: 25px;
        }
        .icon-download::before {
            content: '\e603';
            font-size: 27px;
        }
        .icon-coffee::before {
            content: '\e601';
            font-size: 25px;
        }
    }
    .logoWrapper {
        position: relative;
        width: 100%;
        border-top: solid 4px $green;
        img {
            position: absolute;
            left: 70px;
            top: 20px;
        }
    }
    .fullLogo {
        font-style: italic;
        width: 593px;
        height: 152px;
        display: block;
        margin: 200px auto 0 auto;
        position: relative;
        -webkit-animation: iconAnimation 0.5s 0s ease-out none;
        -moz-animation: iconAnimation 0.5s 0s ease-out none;
        animation: iconAnimation 0.5s 0s ease-out none;
        span {
            position: absolute;
            display: inline;
            font-size: 120px;
            line-height: 144px;
            color: white;
            top: 4px;
            left: 48px;

            // background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,0.6) 50%);
            // background-image: linear-gradient(to bottom, rgba(255,255,255,0) 50%, rgba(255,255,255,0.6) 50%);
            // background-repeat: repeat-x;
            // background-size: 2px 2px;
            // background-position: 0 111px;
        }
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: url(../i/grid.svg) no-repeat right bottom;
            opacity: 0;
            -webkit-animation: opacityAnimation 8s 0s linear infinite none;
            -moz-animation: opacityAnimation 8s 0s linear infinite none;
            animation: opacityAnimation 8s 0s linear infinite none;
        }
    }
    h1 {
        position: absolute;
        width: 100%;
        bottom: 0px;
        padding-bottom: 40px;
        &::after {
            content: '';
            display: block;
            margin: 0 auto;
            -ms-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 40px;
            height: 40px;
            border-right: solid 1px white;
            border-bottom: solid 1px white;
        }
    }
}
article{
    width: 760px;
    margin: 100px auto;
    img {
        display: block;
        width: 100%;
        padding-bottom: 20px;
    }
}
footer {
    width: 100%;
    height: 360px;
    position: relative;
    margin-top: 160px;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../i/tech.jpg) no-repeat center center;
        background-size: cover;
        // -webkit-filter: blur(7px);
        // filter: blur(7px);
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 74%, rgba(0,0,0,0.36) 100%);
        background: rgba(0,0,0,0.40);
        z-index: -1;
    }
    .next {
        display: block;
        text-align: center;
        font-style: italic;/* 
        text-decoration: underline; */
        font-size: 36px;
        color: #FFFFFF;
        line-height: 42px;
        margin: 0 auto 24px auto;
    }
    .tweet {
        display: block;
        background: #FFFFFF;
        box-shadow: 0px 0px 0px 0px rgba(32,32,32,0.32);
        transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: 0 auto 0 auto;
        top: -50px;
        position: relative;
        text-align: center;
        cursor: pointer;
        &:hover {
            box-shadow: 0px -4px 10px 0px rgba(32,32,32,0.32);
            span {
                -ms-transform: translateY(-12px);
                -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
                opacity: 1;
            }
        }
        span {
            font-family: $fira;
            font-weight: 300;
            font-size: 24px;
            color: $dark;
            line-height: 32px;
            position: absolute;
            top: -30px;
            width: 300px;
            left: -100px;
            transition: all 0.6s ease;
            -webkit-transition: all 0.6s ease;
            -ms-transform: translateY(0px);
            -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 0;
        }
        &::before {
            content: '\e604';
            font-size: 54px;
            line-height: 100px;
            text-align: center;
        }
    }
}
