$title: #000000;
$subtitle: #bababa;
$text: #666666;
$green: #a0ad39;
$border: #dbdbdb;
$georgia: Georgia, Times, "Times New Roman", serif;
$opensans: 'Open Sans', sans-serif;

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ysqly8');
	src:url('../fonts/icomoon.eot?#iefixysqly8') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ysqly8') format('woff'),
		url('../fonts/icomoon.ttf?ysqly8') format('truetype'),
		url('../fonts/icomoon.svg?ysqly8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font: {
		family: $georgia;
		size: 18px;    
	}
	color: $text;
	margin: 0;
	padding: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}
*:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
iframe {
	display: block;
	border: none;
}
a.logo {
	width: 180px;
	height: 180px;
	background: url(../i/logo.png) no-repeat right center;
	display: block;
}
section.article {
	width: 600px;
	padding: 1px 120px 30px 30%;
	position: relative;
	a {
		color: $green;
		text-decoration: none;
		border-bottom: solid 1px $border;
		padding-bottom: 2px;
	}
	a:hover {
		border-bottom: solid 1px $green;
	}
	a.logo {
		border: none;
		position: absolute;
		background-color: $text;
		background-position: 82px center;
		margin-left: -320px;
		top: 30px;
	}
	blockquote {
		border-left: solid 10px $border;
		margin: 0;
		padding: 0 0 0 20px;
		font-style: italic;
		position: relative;
		p:first-child {
			text-indent: 40px;
		}
	}
	blockquote::before {
		color: $border;
		content: '“';
		font-size: 100px;
		top: -20px;
		left: 15px;
		position: absolute;
		font-style: normal;
	}
	p.module {
		display: block;
		left: 0;
		position: absolute;
		width: 30vw;
		padding-right: 20px;
		box-sizing: border-box;
		span.caption {
			font-size: 15px;
			line-height: 24px;
			font-style: italic;
			width: 280px;
			display: block;
			float: right;
			text-align: right;
			padding-top: 10px;
			margin-top: 10px;
			position: relative;
			cursor: pointer;
			padding-bottom: 0px;
			a {
				border: none;
			}
		}
		span.caption.collapse {
			padding-bottom: 50px;			
		}
		span.caption::before {
			content:" ";
			width: 100px;
			height: 1px;
			border-top: solid 1px $border;
			position: absolute;
			right: 0;
			top: 0;
		}
		span.caption.collapse::after {
			font-family: 'icomoon';
			content: "\f03d";
			font-size: 60px;
			position: absolute;
			bottom: 0;
			color: #dbdbdb;
			font-style: normal;
			right: 0;
			line-height: 40px;
		}
		span.caption.collapse:hover::after {
			color: $green;
			-webkit-transition: color 0.5s ease;
			-moz-transition: color 0.5s ease;
			-ms-transition: color 0.5s ease;
			-o-transition: color 0.5s ease;
			transition: color 0.5s ease;
		}
		iframe {
			margin-bottom: 10px;
			margin-top: 10px;
			display: none;
			max-width: 100%;
			float: right;
		}
	}
}
h1.title {
	color: $title;
	line-height: 36px;
	margin: 30px 0 15px 0;
	padding: 0;
	font: {
		family: $opensans;
		size: 30px;
		weight: 700;
	}
	a {
		text-decoration: none;
		color: $title;
		box-sizing: border-box;
		padding-bottom: 2px;
	}
	a:hover {
		border-bottom: solid 1px $border;
	}
}
div.subtitle {
	color: $subtitle;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 20px;
	position: relative;
	padding-right: 100px;
	a {
		color: $subtitle;
		text-decoration: none;
		border-bottom: none;
		margin-right: 2px;
	}
	a:hover {
		color: $green;
		border-bottom: none;
	}
	div.pubDate {
		position: absolute;
		right: 0;
		top: 7px;
		width: 100px;
		text-align: right;
	}
	.profile {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-bottom: -8px;
		margin-right: 5px;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	.profile::after {
		content: " ";
		position:absolute;
		width: 30px;
		height: 30px;
		background: url(../i/frame.png) no-repeat center center;
		left: 0;
		top: 0;
	}
}

p {
	line-height: 32px;
	font-weight: normal;
	margin: 0 0 18px 0;
	padding: 0;
}
p.excerpt {
	cursor: pointer;
}
p.excerpt::after {
	content: "... Read More";
	color: $subtitle;
}
.octa {
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	overflow: hidden;

	span::before {
		-webkit-transform: rotate(45deg);
		content: " ";
		margin-left: 29.25%;
		width: 41.425%;
	    height: 100%;
	    position: absolute;
	    border-top: solid 1px $border;
	    border-bottom: solid 1px $border;
	}
	span::after {
		-webkit-transform: rotate(90deg);
		content: " ";
		margin-left: 29.25%;
		width: 41.425%;
	    height: 100%;
	    position: absolute;
	    border-top: solid 1px $border;
	    border-bottom: solid 1px $border;
	}
	span img {
		width: 100%;
		height: 100%;
	}
}
.octa::before {
	content: " ";
	margin-left: 29.25%;
	width: 41.425%;
    height: 100%;
    position: absolute;
    border-top: solid 1px $border;
    border-bottom: solid 1px $border;
}
.octa::after {
	-webkit-transform: rotate(135deg);
	content: " ";
	margin-left: 29.25%;
	width: 41.425%;
    height: 100%;
    position: absolute;
    border-top: solid 1px $border;
    border-bottom: solid 1px $border;
}
